.landing-container {
    background: url('../images/bg.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin-bottom: 10px;
    color: rgb(161, 161, 161);
}


.form {
    width: 100%;
}

.login-container {
    background-color: #ffffff;
    width: 350px;
    height: 350px;
    border-radius: 0.8em;
    display: flex;
    padding: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon {
    background: dodgerblue;
    color: white;
    min-width: 35px;
    height: 35px;
    padding: 10px;
    text-align: center;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid dodgerblue;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    background: dodgerblue;
    border: none;
    margin-bottom: 10px;
}

.forgot {
    color: rgb(160, 160, 160);
}